*--- BROWSER CLEANUP ---*/
html,body,h1,h2,h3,hr,form,img,ul,li {padding:0; margin:0; border:none; outline:none; font-weight:normal;}


/*--- GENERAL ---*/
body {padding:20px; background:#f1f1f1; font-family:"Palatino Linotype","Book Antiqua",Palatino,Georgia,serif; font-size:12px; line-height:18px;}


/*--- BODY ---*/
#body {width:840px; margin:0 auto 0 auto; padding:30px; background:#fff; border:3px #ccc solid; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; box-shadow:0px 0px 5px #ccc;}

#body #header {height:85px; overflow:auto;}
#body #header .title {float:left;}
#body #header .logo {float:right;}
#body #header a img { border-style: none; }
a img { border-style: none; }

#body #stats {margin-top:60px; font-size:36px; color:#ccc; line-height: 1em;}
#body #stats span {padding:0 2px 0 5px; font-size:60px; color:#666;}

#body #tabs {margin-top:60px; overflow:auto;}
#body #tabs a {float:left; padding:3px 8px; margin-right:5px; color:#666; text-decoration:none;}
#body #tabs a:hover {padding:3px 7px; background:#ccc; color:#fff; text-decoration:none; border:1px #ccc solid; border-bottom:none;}
#body #tabs .selected {padding:3px 7px; border:1px #ccc solid; border-bottom:none;}

#body #pickups7 {height:600px; overflow-y:auto; overflow-x:hidden; border:1px #ccc solid; display:none; visibility:hidden;}
#body #pickups7 h3 {padding:10px; font-size:14px; color:#ccc;}
#body #pickups7 .match {height:40px; padding:10px; overflow:hidden;}
#body #pickups7 .match:nth-child(even) {background:#f5f5f5;}
#body #pickups7 .match:nth-child(odd) {background:#fff;}
#body #pickups7 .match h1 {font-size:18px; color:#666;}
#body #pickups7 .match h1 span {padding-left:7px; font-size:12px; color:#777;}
#body #pickups7 .match h2 {margin-top:5px; font-size:11px; color:#777;}
#body #pickups7 .match h2 span {padding-right:6px; color:#aaa;}
#body #pickups7 .match .links {float:right; font-size:14px;}
#body #pickups7 .match .links a {font-size:14px; color:#336699; text-decoration:none;}
#body #pickups7 .match .links a:hover {color:#336699; text-decoration:underline;}

#body #pickups24 {height:600px; overflow-y:auto; overflow-x:hidden; border:1px #ccc solid;}
#body #pickups24 h3 {padding:10px; font-size:14px; color:#ccc;}
#body #pickups24 .match {height:40px; padding:10px; overflow:hidden;}
#body #pickups24 .match:nth-child(even) {background:#f5f5f5;}
#body #pickups24 .match:nth-child(odd) {background:#fff;}
#body #pickups24 .match h1 {font-size:18px; color:#666;}
#body #pickups24 .match h1 span {padding-left:7px; font-size:12px; color:#777;}
#body #pickups24 .match h2 {margin-top:5px; font-size:11px; color:#777;}
#body #pickups24 .match h2 span {padding-right:6px; color:#aaa;}
#body #pickups24 .match .links {float:right; font-size:14px;}
#body #pickups24 .match .links a {font-size:14px; color:#336699; text-decoration:none;}
#body #pickups24 .match .links a:hover {color:#336699; text-decoration:underline;}
#body #pickups24 .match #names
{
	/*position: absolute;*/
	margin-top: -5px;
	width: 100%;
	top: 3px;
	font-size: 14px;
	color: #555;
}
#body #pickups24 .match #names a { color: #555; text-decoration: none; }
#body #pickups24 .match #names a:hover { color: #777; text-decoration: underline; }

#body #pickups24 .match #time
{
	margin-top: 4px;
	left: 10px;
	font-size: 12px;
	color: #555;
	background: none;
}

#body #pickups24 .match #arena
{
	margin-top: -20px;
	margin-left: 500px;
	left: 10px;
	font-size: 12px;
	color: #555;
	background: none;
}

#body #viewpickup {height:570px; padding:15px; overflow-y:auto; overflow-x:hidden; font-size:14px; line-height:24px; color:#bbb; border:1px #ccc solid; display:none; visibility:hidden;}
#body #viewpickup span {font-size:18px; color:#666; padding:0 2px;}
#body #viewpickup table {margin-top:15px; border:1px #ddd solid; line-height:14px; color:#777;}
#body #viewpickup table tr:nth-child(even) {background:#f5f5f5;}
#body #viewpickup table tr:nth-child(odd) {background:#fff;}
#body #viewpickup table td {padding:4px;}
#body #viewpickup table td strong {color:#444;}
#body #viewpickup table a {color:#336699; text-decoration:none;}
#body #viewpickup table a:hover {color:#336699; text-decoration:underline;}
#body #viewpickup .tooltip       { color: #888; text-decoration:none; border-bottom: 1px dotted #888; }
#body #viewpickup .tooltip:hover { color: #888; text-decoration:none; border-bottom: 1px dotted #888; cursor:help;}

#body #playerlist {height:600px; overflow-y:scroll; overflow-x:hidden; border:1px #ccc solid; display:none; visibility:hidden;}
#body #playerlist a {display:block; height:23px; padding:7px 0 0 7px; font-size:16px; line-height:16px; color:#555; text-shadow:#fff 0px 1px; text-decoration:none;}
#body #playerlist tr:nth-child(even) {background:#f5f5f5;}
#body #playerlist tr:nth-child(odd) {background:#fff;}
#body #playerlist a:hover {color:#fff; background:#aaa; text-decoration:none; text-shadow:none;}
#body #playerlist a:hover span {color:#fff;}
#body #playerlist span {padding-left:10px; font-size:10px; text-transform:uppercase; color:#999;}
#body #playerlist .more {text-align:center; font-size:12px; font-weight:bold;}

#body #maps {height:600px; overflow-y:scroll; overflow-x:hidden; border:1px #ccc solid; display:none; visibility:hidden;}
#body #maps a {display:block; height:23px; padding:7px 0 0 7px; font-size:16px; line-height:16px; color:#555; text-shadow:#fff 0px 1px; text-decoration:none;}
#body #maps tr:nth-child(even) {background:#f5f5f5;}
#body #maps tr:nth-child(odd) {background:#fff;}
#body #maps a:hover {color:#fff; background:#aaa; text-decoration:none; text-shadow:none;}
#body #maps a:hover span {color:#fff;}
#body #maps span {padding-left:10px; font-size:10px; text-transform:uppercase; color:#999;}
#body #maps .more {text-align:center; font-size:12px; font-weight:bold;}

#body #search {height:570px; padding:15px; overflow-y:auto; overflow-x:hidden; border:1px #ccc solid; display:none; visibility:hidden;}
#body #search input {width:300px; padding:3px 5px; font-size:13px; color:#444; border:1px #ddd solid; box-shadow:#f5f5f5 0px 1px;}
#body #search a {margin-left:10px; font-size:14px; color:#444; text-decoration:none;}
#body #search a:hover {color:#336699; text-decoration:none;}
#body #search h2 {margin:10px 0 4px 0; font-size:12px; color:#999;}

#body #viewplayer {height:570px; padding:15px; overflow-y:auto; overflow-x:hidden; font-size:14px; line-height:24px; color:#bbb; border:1px #ccc solid; display:none; visibility:hidden;}
#body #viewplayer span {font-size:18px; color:#666; padding-left:3px;}
#body #viewplayer span a {color:#336699; text-decoration:none;}
#body #viewplayer span a:hover {color:#336699; text-decoration:underline;}
#bodymap { position: absolute; width: 840px; top: 320px; margin-left: -420px; left: 50%; }
#body #viewplayer #avatar { width: 184px; min-height: 184px; padding: 6px; background: #ccc; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; }
#body #viewplayer #avatar img { z-index: 10; }
#body #viewplayer table {margin-top:15px; border:1px #ddd solid; line-height:14px; color:#777;}
#body #viewplayer table td {padding:4px;}
#body #viewplayer table td a {color:#336699; text-decoration:none;}
#body #viewplayer table td a:hover {color:#336699; text-decoration:underline;}
#body #viewplayer table td strong {color:#444;}
#body #viewplayer table .reason {background:#f9f9f9;}
#body #viewplayer table .expire {color:#999; background:#f1f1f1; text-align:center;}
#body #viewplayer .tooltip:hover { color: #ccc; text-decoration: underline; }

#body #connect {margin-top:30px;}
#body #connect h1 {font-size:12px; color:#999;}
#body #connect img {margin-right:20px;}


/*--- FOOTER ---*/
#footer {width:860px; margin:10px auto 0 auto; color:#aaa; font-size:10px; line-height:16px;}
#footer a {color:#aaa; text-decoration:underline;}
#footer a:hover {text-decoration:none;}


/*--- HIDDEN ---*/
.hidden {display:none; visibility:hidden; overflow:hidden; width:1px; height:1px;}
